#page-content #flexslider.small, #page-content #flexslider-nav.small {
    height: 600px !important;
}

#page-content #flexslider.small ul li, #page-content #flexslider-nav.small ul li {
    height: 600px !important;
}

 ul.timeline-about li .content {
  float: right;
  padding-left: 50px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  ul.timeline-about li .content {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  ul.timeline-about li .content p {
    margin-bottom: 0;
  }
}

ul.timeline-about li .title {
  padding: 18px 50px 18px 0px;
  text-align: right;
  width: 50%;
}

@media screen and (max-width: 767px) {
  ul.timeline-about li .title {
    width: 100%;
    padding: 0;
    margin: 75px 0px 18px 0px;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
    background-color: #fff;
  }
}

ul.timeline-about li .title p.heading {
  margin: 0 0 0 auto;
  transition: color .4s ease;
}

ul.timeline-about li:hover .title {
  padding-right: 35px;
  transition: all .4s ease;
}

@media screen and (max-width: 767px) {
  ul.timeline-about li:hover .title {
    padding-right: 0px;
  }
} 